<div class="news-section">
    <div class="container-fluid">
        <div class="row news-section-header">
            <div class="col-10  latest-news-title">
                <p class="latest-title">LATEST</p>
                <h1 class="news-title">NEWS</h1>
            </div>
            <div class="col-2 news-view-all">
                VIEW ALL
            </div>
        </div>

        <div class="row news-section-body">

            <div class="col-4">
                <div class="card news-card">
                    <img src="../../../../assets/images/sol-serv-bck.png" class="img-fluid card-img-top" alt="...">
                    <div class="card-body news-card-body">
                        <p class="news-date"> 25 MAY 2019 </p>
                        <h4 class="news-title"> EOH LEADS THE SMART CITIES PRACTICE IN ICEC 2018, </h4>
                        <p class="card-text news-card-text">
                            Within the theme of “Delivering Sustainable Intelligent Cities for the Future Generations” 
                            the event aim has been to identify latest technology solutions that address 
                            the challenges that our cities face today, such as safety and security, mobility, citizens 
                            wellness and better services implementation, monitoring and controlling strategies. 
                            The event featured 30+ speakers, with more than 4000 senior level decision makers and 6000+ participants, 
                            all in presence of receiving the latest insights about solutions smart cities adoption.</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card news-card">
                    <img src="../../../../assets/images/sol-serv-bck.png" class="img-fluid card-img-top" alt="...">
                    <div class="card-body news-card-body">
                        <p class="news-date"> 25 MAY 2019 </p>
                        <h4 class="news-title"> EOH LEADS THE SMART CITIES PRACTICE IN ICEC 2018, </h4>
                        <p class="card-text news-card-text">
                            Within the theme of “Delivering Sustainable Intelligent Cities for the Future Generations” 
                            the event aim has been to identify latest technology solutions that address 
                            the challenges that our cities face today, such as safety and security, mobility, citizens 
                            wellness and better services implementation, monitoring and controlling strategies. 
                            The event featured 30+ speakers, with more than 4000 senior level decision makers and 6000+ participants, 
                            all in presence of receiving the latest insights about solutions smart cities adoption.</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card news-card">
                    <img src="../../../../assets/images/sol-serv-bck.png" class="img-fluid card-img-top" alt="...">
                    <div class="card-body news-card-body">
                        <p class="news-date"> 25 MAY 2019 </p>
                        <h4 class="news-title"> EOH LEADS THE SMART CITIES PRACTICE IN ICEC 2018, </h4>
                        <p class="card-text news-card-text">
                            Within the theme of “Delivering Sustainable Intelligent Cities for the Future Generations” 
                            the event aim has been to identify latest technology solutions that address 
                            the challenges that our cities face today, such as safety and security, mobility, citizens 
                            wellness and better services implementation, monitoring and controlling strategies. 
                            The event featured 30+ speakers, with more than 4000 senior level decision makers and 6000+ participants, 
                            all in presence of receiving the latest insights about solutions smart cities adoption.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>