.height-145 {
    height: 145px;
}

.line-height-145 {
    line-height: 145px;
}

/deep/ body .project-upload .ui-fileupload .ui-fileupload-buttonbar {
    border: 1px solid transparent;
    color: #333333;
    border-bottom: 0 none;
    height: 0px;
    background-color: transparent;
}

/deep/ body .project-upload .ui-fileupload .ui-fileupload-buttonbar .ui-button {
    z-index: 2;
    margin: 0px;
    position: absolute;
    right: 51.5%;
    top: 63.5%;
}

/deep/ body .project-upload .ui-fileupload .ui-fileupload-content {
    height: 200px;
    width: 100%;
    border-radius: 7px;
}

/deep/ body .project-upload .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0px;
}

/deep/ .ui-button-icon-left {
    display: none;
}

/deep/ body .project-upload .ui-button {
    margin: 0;
    color: #007ad9;
    background-color: white;
    border: 1px solid white;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
    z-index: 4;
}

/deep/ body .project-upload .ui-fileupload-choose:not(.ui-state-disabled):hover {
    background-color: white;
    color: #116fbf;
    border-color: white;
}

/deep/ .ui-fileupload-files img {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

/deep/ .ui-fileupload-row /deep/ .ui-button {
    position: absolute;
    right: 1px;
    top: 1px;
}

/deep/ .ui-fileupload-row /deep/ .ui-button-icon-left {
    display: block;
}

/deep/ .ui-fileupload-row /deep/ .ui-button {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

/deep/ body .ui-fileupload .ui-fileupload-content {
    border: 1px dashed #C3C3C3;
}

/deep/ .date-picker /deep/ .ui-button-icon-left {
    display: block !important
}

.background-color-grey {
    background-color: #F7F7F8;
}

.mockup-section {
    background-color: #F7F7F8;
    font-family: OswaldReg;
}

.add-mockup-title {
    font-family: OswaldReg;
    font-size: 30px;
    text-align: center;
}

.add-mockup-title-bold {
    font-family: OswaldBold;
}

.mockup-devices {
    text-align: center;
}

.mockup-device {
    background-color: #FFFFFF;
    margin: 1%;
    padding: 3%;
}

.mockup-device:hover {
    cursor: pointer;
    background-color: #E3E3E3;
}

.col-5.mockup-form-screen {
    margin: auto 0;
}

.mockup-screen {
    height: 38vh;
    padding-left: 22%;
}

.laptop-mockup {
    background-image: url('../../../assets/images/MacBookSVG.SVG');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: initial;
    text-align: center;
    float: left;
    margin-right: 5%;
    height: 40vh;
    padding-top: 1.25vw;
    padding-right: 4.25vw;
    padding-left: 4.25vw;
    position: relative;
    width: 33vw;
}

.laptop-screen {
    height: 32.5vh;
    overflow-y: auto;
}

.laptop-screen::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.laptop-screen::-webkit-scrollbar {
    width: 1.5%;
    background-color: #F5F5F5;
}

.laptop-screen::-webkit-scrollbar-thumb {
    background-color: #878787;
}

.tablet-mockup-screen {
    padding-left: 24%;
}

.tablet-mockup {
    background-image: url('../../../assets/images/IPad.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: initial;
    text-align: center;
    float: left;
    margin-right: 5%;
    height: 33vh;
    padding-top: 0.36vw;
    padding-right: 6.1vw;
    padding-left: 5.15vw;
    position: relative;
    width: 32vw;
}

.tablet-screen {
    height: 30.3vh;
    overflow-y: auto;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.mobile-mockup-screen {
    padding-left: 32%;
    height: 57vh;
}

.mobile-mockup {
    background-image: url('../../../assets/images/iPhoneX.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: initial;
    text-align: center;
    float: left;
    margin-right: 5%;
    height: 53vh;
    padding-top: 0.65vw;
    padding-right: 2.9vw;
    padding-left: 2.3vw;
    position: relative;
    width: 16vw;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 25px;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar {
    width: 1px;
}

.mobile-screen {
    height: 48.5vh;
    overflow-y: auto;
    border-radius: 1.2vw 1.2vw 1.2vw 1.2vw;
}

.mobile-screen::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.mobile-screen::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px;
}

.mobile-screen::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 25px;
}

.mobile-screen::-webkit-scrollbar {
    width: 0px;
}

.mobile-screen::-webkit-scrollbar-thumb {
    background-color: #F9F9F9;
    border-radius: 10px;
}

.screenX {
    width: 8vw;
    top: 2%;
    left: 23%;
    position: absolute;
    z-index: 2;
}

.mockup-section .laptop-form input[type=text],
.mockup-section .mobile-form input[type=text],
.mockup-section .tablet-form input[type=text] {
    width: 35%;
    padding: 0.6% 1.5%;
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    box-sizing: border-box;
}

.mockup-section .laptop-form input[type=text]::placeholder,
.mockup-section .mobile-form input[type=text]::placeholder,
.mockup-section .tablet-form input[type=text]::placeholder {
    color: #B4B4B4;
    font-family: OswaldLight;
}

.mockup-section .laptop-form textarea,
.mockup-section .mobile-form textarea,
.mockup-section .tablet-form textarea {
    resize: none;
    width: 47%;
    padding: 0.6% 1.5%;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
}

.mockup-section .laptop-form textarea::placeholder,
.mockup-section .mobile-form textarea::placeholder,
.mockup-section .tablet-form textarea::placeholder {
    color: #B4B4B4;
    font-family: OswaldLight;
}

@media screen and (min-width: 320px) and (max-width: 575.98px) {
    .mockup-form-screen {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 25%;
    }
}

.form-label {
    margin-bottom: 0px;
}

.form-label-section {
    margin-bottom: 1%;
}

.form-remove-button {
    border-radius: 2px;
    background-color: #F0F0F0;
}