.height-145 {
    height: 145px;
}

.line-height-145 {
    line-height: 145px;
}

/deep/ body .project-upload .ui-fileupload .ui-fileupload-buttonbar {
    border: 1px solid transparent;
    color: #333333;
    border-bottom: 0 none;
    height: 0px;
    background-color: transparent;
}

/deep/ body .project-upload .ui-fileupload .ui-fileupload-buttonbar .ui-button {
    z-index: 2;
    margin: 0px;
    position: absolute;
    right: 51.5%;
    top: 63.5%;
}

/deep/ body .project-upload .ui-fileupload .ui-fileupload-content {
    height: 200px;
    width: 100%;
    border-radius: 7px;
}

/deep/ body .project-upload .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0px;
}

/deep/ .ui-button-icon-left {
    display: none;
}

/deep/ body .project-upload .ui-button {
    margin: 0;
    color: #007ad9;
    background-color: white;
    border: 1px solid white;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
    z-index: 4;
}

/deep/ body .project-upload .ui-fileupload-choose:not(.ui-state-disabled):hover {
    background-color: white;
    color: #116fbf;
    border-color: white;
}

/deep/ .ui-fileupload-files img {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

/deep/ .ui-fileupload-row /deep/ .ui-button {
    position: absolute;
    right: 1px;
    top: 1px;
}

/deep/ .ui-fileupload-row /deep/ .ui-button-icon-left {
    display: block;
}

/deep/ .ui-fileupload-row /deep/ .ui-button {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}