<div class="container header">
    <div class="row justify-content-between">
        <div>
            <img src="../../../assets/images/humberger.svg" alt="">
            <img src="../../../assets/images/logo.svg" alt="" class="ml-3">
        </div>


    </div>
    <!-- <main class="main main--demo-1">
        <div class="content content--demo-1">
            <div class="hamburger js-hover">
                <div class="hamburger__line hamburger__line--01">
                    <div class="hamburger__line-in hamburger__line-in--01"></div>
                </div>
                <div class="hamburger__line hamburger__line--02">
                    <div class="hamburger__line-in hamburger__line-in--02"></div>
                </div>
                <div class="hamburger__line hamburger__line--03">
                    <div class="hamburger__line-in hamburger__line-in--03"></div>
                </div>
                <div class="hamburger__line hamburger__line--cross01">
                    <div class="hamburger__line-in hamburger__line-in--cross01"></div>
                </div>
                <div class="hamburger__line hamburger__line--cross02">
                    <div class="hamburger__line-in hamburger__line-in--cross02"></div>
                </div>
            </div>
            <div class="global-menu">
                <div class="global-menu__wrap">
                    <a class="global-menu__item global-menu__item--demo-1" href="#">Home</a>
                    <a class="global-menu__item global-menu__item--demo-1" href="#">About</a>
                    <a class="global-menu__item global-menu__item--demo-1" href="#">Products</a>
                    <a class="global-menu__item global-menu__item--demo-1" href="#">Contact</a>
                </div>
            </div>
            <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
      </svg>
        </div>
    </main> -->
</div>