<div class="container-fluid footer-section">
    <div class="row">
        <div class="col-9 copyright">
            <div class="copyright-logo">
                <img src="../../../../assets/images/Asset_Logo_Dark.svg" alt="logo">
            </div>
            <div class="copyright-title">
                © Copyright 2020 ASSET Technology Group. All Rights Reserved
            </div>
        </div>
        <div class="col-3 followus">
            <div class="followus-title">
                Follow us
            </div>
            <div class="followus-icons">
                <img src="../../../../assets/images/ic_youtube.svg" alt="facebookicon">
                <img src="../../../../assets/images/ic_twitter.svg" alt="facebookicon">
                <img src="../../../../assets/images/ic_facebook.svg" alt="facebookicon">
                <img src="../../../../assets/images/ic_insta.svg" alt="facebookicon">
            </div>
        </div>
    </div>
</div>