<div class="banner">
    <video autoplay muted loop id="myVideo">
        <source src="../../../../assets/images/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <!-- Nav Bar -->
    <div class="container-fluid navbar">
        <div class="row w-100">
        </div>
    </div>
    <!-- End Nav Bar -->

    <!-- Search -->
    <div class="container searchCont smNone">
        <div class="row">
            <div class="col-12">
                <p class="searchTitle OswaldExtraLight" [@focusInOut]="isFocus ? 'textOn' : 'textOut'">
                    <span class="oswaldBold">Explore</span> THE ASSET WORLD
                </p>
                <small>
                    Search by Industry, Customer, Service, Solution...
                </small>
            </div>
            <div class="col-12">
                <input [@focusInOut]="isFocus ? 'focusOn' : 'focusOut'" type="search" class="bannerSearch" placeholder="Search..." [(ngModel)]="query" name="search" (focus)="showResultsFn()" (focusout)="hideResultsFn()">
                <button class="bannerIcon" [@focusInOut]="isFocus ? 'btnOn' : 'btnOut'">
                    <img src="../../../../assets/images/search.svg">
                </button>
            </div>
            <!-- Data From Search -->
            <div class=" results shadow" [@resultsInOut]="showResults ? 'resultsOn' : 'resultsOut'">
                <div class="col-12">
                    <div class="title" [hidden]="(testOne | bannerSearch:query).length === 0">
                        <p>Opportunities</p>
                    </div>
                    <div class="text" *ngFor="let t1 of testOne  | slice:0:3  | bannerSearch:query; let i=index">
                        <img src="../../../../assets/images/22.svg">
                        <p>{{t1.title}}</p>
                    </div>
                </div>
                <!-- End Row -->
                <div class="col-12">
                    <div class="title" [hidden]="(testTwo | bannerSearch:query).length === 0">
                        <p>Services</p>
                    </div>
                    <div class="text cursor-pointer" *ngFor="let project of projects  | slice:0:3 | bannerSearch:query; let i=index" (click)="goToDetails(project)">
                        <img src="../../../../assets/images/22.svg">
                        <p>{{project.name}}</p>
                    </div>
                </div>
                <!-- End Row -->
                <div class="col-12">
                    <div class="title" [hidden]="(testThree | bannerSearch:query).length === 0">
                        <p>Customers</p>
                    </div>
                    <div class="text" *ngFor="let t3 of testThree  | slice:0:3 | bannerSearch:query; let i=index ">
                        <img src="../../../../assets/images/22.svg">
                        <p>{{t3.title}}</p>
                    </div>
                </div>
                <!-- End Row -->
                <div class="title" [hidden]="!((testOne | bannerSearch:query).length === 0 && (testTwo | bannerSearch:query).length === 0 && (testThree | bannerSearch:query).length === 0)">
                    No Data Found.
                </div>
                <!-- End Row -->
            </div>
            <!-- End Data From Search -->
        </div>
    </div>
    <!-- End Search -->

    <!-- Responsive Search -->
    <div class="container searchCont lgNone">
        <div class="row">
            <div class="col-12">
                <p class="searchTitle">
                    <span>Explore</span> the EOH World
                </p>
                <small>
                    Search by Industry, Customer, Service, Solution...
                </small>
            </div>
            <div class="col-12">
                <input class="bannerSearch" placeholder="Search..." [(ngModel)]="query" name="search" (focus)="showResultsFn()" (focusout)="hideResultsFn()">
                <button class="bannerIcon">
                    <img src="../../../../assets/images/search.svg">
                </button>
            </div>
            <!-- Data From Search -->
            <div class=" results shadow" [hidden]="!showResults">
                <div class="col-12">
                    <div class="title" [hidden]="(testOne | bannerSearch:query).length === 0">
                        <p>Opportunities</p>
                    </div>
                    <div class="text" *ngFor="let t1 of testOne  | slice:0:3  | bannerSearch:query; let i=index">
                        <img src="../../../../assets/images/22.svg">
                        <p>{{t1.title}}</p>
                    </div>
                </div>
                <!-- End Row -->
                <div class="col-12">
                    <div class="title" [hidden]="(testTwo | bannerSearch:query).length === 0">
                        <p>Services</p>
                    </div>
                    <div class="text" *ngFor="let t2 of testTwo  | slice:0:3 | bannerSearch:query; let i=index">
                        <img src="../../../../assets/images/22.svg">
                        <p>{{t2.title}}</p>
                    </div>
                </div>
                <!-- End Row -->
                <div class="col-12">
                    <div class="title" [hidden]="(testThree | bannerSearch:query).length === 0">
                        <p>Customers</p>
                    </div>
                    <div class="text" *ngFor="let t3 of testThree  | slice:0:3 | bannerSearch:query; let i=index ">
                        <img src="../../../../assets/images/22.svg">
                        <p>{{t3.title}}</p>
                    </div>
                </div>
                <!-- End Row -->
                <div class="title" [hidden]="!((testOne | bannerSearch:query).length === 0 && (testTwo | bannerSearch:query).length === 0 && (testThree | bannerSearch:query).length === 0)">
                    No Data Found.
                </div>
                <!-- End Row -->
            </div>
            <!-- End Data From Search -->
        </div>
    </div>
    <!-- End Responsive Search -->

    <!-- Customers -->
    <div class="container-fluid customerSection">
        <div class="row">
            <div class="col-12">
                <h2>Customers</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-6" *ngFor="let customer of bannerCustomers  | slice:0:4; let i=index">
                <div class="card text-white border mb-3">
                    <div class="card-body text-center">
                        <img src="../../../../assets/images/vodafone-banner.svg" class="mb-4">
                        <p class="card-text">{{customer.title}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Customers -->
</div>