/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    min-height: 1000px;
}
.hamburger{
    background-color: #fff;
}
.main{
    position:absolute;
    height: 0;
    min-height: 0;
    z-index: 99;
}


@font-face {
    font-family: MyriadReg;
    src: url(assets/fonts/myriad/MyriadProRegular.ttf);
}

@font-face{
    font-family: OswaldBold;
    src: url(assets/fonts/oswald/Oswald-Bold.ttf);
}

@font-face{
    font-family: OswaldReg;
    src: url(assets/fonts/oswald/Oswald-Regular.ttf);
}

@font-face{
    font-family: OswaldMed;
    src: url(assets/fonts/oswald/Oswald-Medium.ttf);
}

@font-face{
    font-family: OswaldLight;
    src: url(assets/fonts/oswald/Oswald-Light.ttf);
}